<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post">
        <!-- Ensure the form submits to the correct URL -->
        <!-- Include CSRF token for security  -->
        <!--csrf cross-site request forgery protection  -->
        {% csrf_token %}
        <!-- Render the user creation form -->
        {{ form.as_p }}
        <button type="submit">Register</button>
</body>
</html>